.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 16px;
    height: 32px;
    align-items: center;
  }
  
  
  .pagination .active {
    border: 1px solid #e0e0e0;
  
    font-weight: 700;
  }
  
  .pagination .disabled {
    color: #a6a6a6;
  }
  
  .pagination li:not(:last-child, :first-child) {
    list-style-type: none;
    display: block;
    box-sizing: border-box;
    text-align: center;
    /* border: 1px solid #000; */
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .btn-pre {
    padding-right: 12px;
  }
  
  .btn-next {
    padding-left: 7px;
  }